<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dark Side of the Rainbow</title>
</head>
<body>

 <th:block th:fragment="header">
    <header>
        <div class="jumbotron header">
            <img class="logo" src="images/music.jpeg" alt="">
            <h1 class="display-4">Dark Side of Rainbow!</h1>
            <p class="lead">Welcome to Dark Side of Rainbow</p>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dark Side Brand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/careers">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/album/add">Add Album</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                    <input name="term" class="form-control mr-sm-2" type="search" placeholder="
					Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                 <div style="float: right">
                    <a href="/login">Log In</a>
                </div>
            </div>
        </nav>
    </header>
</th:block>

<th:block th:fragment="footer">
    <footer>
        <cite>&copy; 2019 - Dark Side of the Rainbow</cite>
    </footer>
</th:block>

</body>
</html>